<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mojospy.covid19screen.mapper.DailyMapper">

    <select id="list" resultType="mojospy.covid19screen.domain.Daily">
        select *
        from t_daily
        order by cast(date_of as date) desc
    </select>
</mapper>

