<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mojospy.covid19screen.mapper.DailyMapper">

<!--查询所有（筛选）-->
    <select id="getAllBy" resultType="Daily">
        select
          date_of, confirmed_count, cured_count, confirmed_incr, input_incr, cured_incr
        from t_daily u
        <where>
            <if test="dateOf != null">
                and date_of = #{dateOf}
            </if>
            <if test="confirmedCount != null">
                and confirmed_count = #{confirmedCount}
            </if>
            <if test="curedCount != null">
                and cured_count = #{curedCount}
            </if>
            <if test="confirmedIncr != null">
                and confirmed_incr = #{confirmedIncr}
            </if>
            <if test="inputIncr != null">
                and input_incr = #{inputIncr}
            </if>
            <if test="curedIncr != null">
                and cured_incr = #{curedIncr}
            </if>
            
        </where>
 
    </select>
</mapper>

